<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Getting Started</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <%= javascript_include_tag "libs/modernizr" %>
  <%= stylesheet_link_tag "application" %>



  <!-- HFJ -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6495252/631384/css/fonts.css" /> 

  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/hfd5akt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="<%= page_classes %> <%= data.page.page_classes %>">
  <header class="site-header" id="intro">
    <video id="intro_video" class="video-js vjs-default-skin" autoplay loop preload="none" poster="http://video-js.zencoder.com/oceans-clip.png"
        data-setup="{}">
      <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
    </video>
    <section class="introtext">
      <p>Guests capture images and video at all your wedding events, Capstory makes sure you get to enjoy them.</p>
      <button class="btn btn_primary">Get Capstory</button>
      <a class="tell_friend" href="#">Tell your engaged friend about Capstory</a>
    </section>
  </header>
  <!-- /site-header -->

  <div id="stickycont" class="contain-to-grid sticky">
    <nav class="top-bar" style="">
      <ul>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="nav-bar right">
          <li><a href="#home">Home</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <!-- /stickycont -->

  
  <section class="main-content">
    <%= yield %>
  </section><!-- /main-content -->

  <%= partial "partials/site-footer" %>
  
  <%= javascript_include_tag "public" %>


</body>
</html>
