<section class="how_it_works">
  <header class="section_header">
    <h2>How it Works</h2>
    <h3>Curating your wedding photos has never been easier</h3>
  </header> <!-- /section_header -->
  <ol class="how_it_works_experience">
    <li class="take_pictures">
      <header class="experience_header">
        <h4>Take Some Pictures</h4>
        <h5><%= lorem.sentences 2 %>.</h5>
      </header> <!-- /experience_header -->
      <%= image_tag "img-take-pictures.png" %>
    </li> <!-- /take_pictures -->
    <li class="text_capstory">
      <header class="experience_header">
        <h4>Text Them To Capstory</h4>
        <h5><%= lorem.sentences 2 %>.</h5>
      </header> <!-- /experience_header -->
      <%= image_tag "img-text-capstory.png" %>
    </li> <!-- /text_capstory -->
    <li class="make_capsule">
      <header class="experience_header">
        <h4>We Make The Capsule</h4>
        <h5><%= lorem.sentences 2 %>.</h5>
      </header> <!-- /experience_header -->
      <%= image_tag "img-make-capsule.png" %>
    </li> <!-- /make_capsule -->
  </ol> <!-- /how-it-works-experience -->
  <button class="btn btn-primary">Get Capstory</button>
  <%= link_to "Tell your engaged friend about Capstory", "#", class: "tell_friend" %>
</section> <!-- /pricing -->

